<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ps-3" href="/">Stormwater Management Inspection System</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="m-3">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/Facilities'>BMP Facilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/FacilityTypes'>Facility Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/InspectionPersonnel'>Inspection Personnel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/Inspections'>Inspections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/Inspectors'>Inspectors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/MaintenanceRecords'>Maintenance Records</a>
        </li>
      </ul>
    </div>
  </div>
</nav>