<h1>BMP Facilities</h1>

<div class="dropdown" style="padding-bottom: 10px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Facility Type ID Search
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="#">1</a></li>
    <li><a class="dropdown-item" href="#">2</a></li>
    <li><a class="dropdown-item" href="#">3</a></li>
    <li><a class="dropdown-item" href="#">4</a></li>
  </ul>
</div>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">BMP ID</th>
            <th scope="col">Street Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Name</th>
            <th scope="col">Faciltiy Type ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1510 Main St</td>
            <td>Chicago</td>
            <td>Illinois</td>
            <td>60696</td>
            <td>Main Street West</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>301 Johnson Ave</td>
            <td>Madison</td>
            <td>Wisconsin</td>
            <td>54603</td>
            <td>Meadow Valley South</td>
            <td>2</td>
        </tr>
    </tbody>
</table>

<h5>Add New BMP Facility</h5>
<form>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="Street Address where inspection took place" value="">
        <label for="floatingInputValue">Street Address</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="City where inspection took place" value="">
        <label for="floatingInputValue">City</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="State in where inspection took place" value="">
        <label for="floatingInputValue">State</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="Zip Code where inspection took place" value="">
        <label for="floatingInputValue">Zip Code</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="Name of inspection site" value="">
        <label for="floatingInputValue">Name</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="Type of site inspected" value="">
        <label for="floatingInputValue">Facility Type ID</label>
    </div>
    <button type="button" class="btn btn-dark">Submit</button>
</form>