<div class="p-3">
    <h1>BMP Facility Types</h1>

    {{!-- Table displays the different types of BMP facilities. --}}
    <table class="table table-secondary table-hover table-striped table-bordered mt-3">
        <thead>
            <tr class="align-top">
                <th scope="col">Facility Type ID</th>
                <th scope="col">Facility Type</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each types}}
            <tr>
                <td>{{this.facilityTypeID}}</td>
                <td>{{this.facilityTypeName}}</td>
                <td>{{this.facilityTypeDescription}}</td>
            </tr>
            {{/each}}
        </tbody>
        {{!-- The table footer contains a citation and will remain static. --}}
        <tfoot>
            <tr>
                <td colspan="3">
                    Facility descriptions have been adapted from: Prince George’s
                    County Government Department of Environmental Resources. (2009).
                    <em>Stormwater Best Management Practices Inspection Manual</em>.
                    Maryland. <a
                        href="https://www.princegeorgescountymd.gov/DocumentCenter/View/4788/DepartmentoftheEnvironment-Stormwater-Best-Management-Practices-Inspection-Manual-PDF">www.princegeorgescountymd.gov</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{{!-- Form allows for inserting new BMP facility types. --}}
<div class="container-md p-3 my-3 mx-auto border border-secondary">
    <h5>Add BMP Facility Type</h5>
    <p>* = required field</p>

    <form method="post" action="">
        {{!-- Form input for facility type name --}}
        <div class="row mb-3">
            <label for="inputTypeName" class="col-sm-2 col-form-label">Name of Facility Type *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTypeName" name="facilityTypeName">
            </div>
        </div>

        {{!-- Form input for facility type description --}}
        <div class="row mb-3">
            <label for="inputTypeDesc" class="col-sm-2 col-form-label">Description *</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputTypeDesc" name="facilityTypeDescription"></textarea>
            </div>
        </div>

        {{!-- Form submit --}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>