<main class="home">
	<h1>Stormwater Management Inspection System</h2>
	<p>Our team has decided to implement a Stormwater Management Inspection System. We
felt that this particular topic would have real world value and could potentially be vital for
environmental studies moving forward. The information that is collected from regular inspections
of various stormwater management facilities can be housed in databases and used to help
make informed decisions to control stormwater runoff and reduce the impacts of flooding. These
inspections would provide essential feedback regarding how well various stormwater
management systems are functioning. In turn, local governments and municipalities would be
better equipped to create public policy which provides adequate drainage of stormwater runoff.
Moving forward, this particular topic is extremely important for the environments in which we
live. As climate change leads to increasingly severe storms and flooding, this is something we
feel needs to be addressed more thoroughly.
    </p>
</main>