<h1>Inspections</h1>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">BMP Inspection ID</th>
            <th scope="col">BMP ID</th>
            <th scope="col">Inspection Date</th>
            <th scope="col">Inspector</th>
            <th scope="col">Inspect Embankment</th>
            <th scope="col">Inspect Erosion</th>
            <th scope="col">Inspect Sediment</th>
            <th scope="col">Inspect Ponding</th>
            <th scope="col">Inspect Vegetation</th>
            <th scope="col">Inspect Control Structure</th>
            <th scope="col">Inspect Trash</th>
            <th scope="col">Overall Function</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>9/1/2021</td>
            <td>Tony Smith</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>The condition of this facility is in excellent condition. No maintenance is required at this time.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>9/15/2021</td>
            <td>Josh Johnson</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>The overall condition of this facility is average. Maintenance is going to be required by end of October.</td>
        </tr>
    </tbody>
</table>

<h5>Add New Inspection</h5>
<form>
    <div class="form-floating" style="padding-bottom: 10px;">
        <input type="date" class="form-control" id="floatingInputValue" placeholder="mm/dd/yyyy" value="mm/dd/yyyy">
        <label for="floatingInputValue">Inspection Date</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <input type="text" class="form-control" id="floatingInputValue" placeholder="Name of Inspector" value="">
        <label for="floatingInputValue">Inspector</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Embankment</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Erosion</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Sediment</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Ponding</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Vegetation</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Control Structure</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Inspect Trash</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Yes or No</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label for="floatingSelect">Overall Function</label>
    </div>
    <div class="form-floating" style="padding-bottom: 10px;">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <button type="button" class="btn btn-dark">Submit</button>
</form>

<h5 style="padding-top: 20px;">Delete Inspection Report</h5>
<form>
    <div class="form-floating" style="padding-bottom: 10px;">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Please select an inspection id</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="floatingSelect">Inspection ID</label>
    </div>
    <button type="button" class="btn btn-dark">Submit</button>
</form>