<h1>BMP Inspections and Personnel</h1>
<table class="table table-secondary table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">BMP Inspection ID</th>
            <th scope="col">Inspector ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2</td>
        </tr>
    </tbody>
</table>