<h5>Inspection Personnel</h5>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">BMP Inspection ID</th>
            <th scope="col">Inspector ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>3</td>
        </tr>
    </tbody>
</table>