<div class="p-3">
<h1>BMP Inspections and Personnel</h1>

    <table class="table table-secondary table-hover table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">BMP Inspection ID</th>
                <th scope="col">Inspector ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-md p-3 my-3 mx-auto border border-secondary">
    <h5>Add New BMP Inspection and Personnel</h5>
    <form>
        <div class="row mb-3">
            <label for="inputInspector" class="col-sm-2 col-form-label">BMP Inspection ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBMPInspectionID">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputInspector" class="col-sm-2 col-form-label">Inspector ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputInspectorID">
            </div>
        </div>
        <button type="button" class="btn btn-dark">Submit</button>
    </form>
</div>